type project
licenseExpression https://github.com/Shmew/Feliz.Recoil/blob/master/LICENSE
authors Cody Johnson
description
    Fable bindings for Facebook's recoil.
language
    F#
tags
    fsharp, fable, react, feliz, recoil, state, management, web
files
    *.fsproj ==> fable
    *.fs ==> fable
